
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/StoreLayout.cshtml";
}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Ana Sayfa</a>
                    <span>İletişim</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>İletişim Bilgileri</h5>
                        <ul>
                            <li>
                                <h6><i class="fa fa-map-marker"></i> Adres:</h6>
                                <p>Çünür Mahallesi 572. Sokak Merkez/Isparta 32200 </p>
                            </li>
                            <li>
                                <h6><i class="fa fa-phone"></i> Telefon</h6>
                                <p><span>0 535 574 1275</span><span>0 535 574 7512</span></p>
                            </li>
                            <li>
                                <h6><i class="fa fa-headphones"></i> Destek</h6>
                                <p>destek.coreStore@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5>MESAJ GÖNDER</h5>
                        <form action="#">
                            <input type="text" placeholder="İsim">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Konu">
                            <textarea placeholder="Mesaj"></textarea>
                            <button type="submit" class="site-btn">Mesaj Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50424.13927785371!2d30.45732693493858!3d37.82497512277426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c5b63e77853b93%3A0x2d044c116da7920c!2zw4fDvG7DvHIsIDMyMjAwIElzcGFydGEgTWVya2V6L0lzcGFydGE!5e0!3m2!1str!2str!4v1700491703974!5m2!1str!2str" height="780" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->