@model EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <form class="form-group" method="post" enctype="multipart/form-data">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Ürünlerim /</span> Ürün Ekle</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Ürün Adı</label>
                                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                            </div>
                            <div>
                                <label for="exampleFormControlTextarea1" class="form-label">Ürün Detayları</label>
                                @Html.TextAreaFor(x => x.ProductDetail, new { @class = "form-control", rows = 4 })
                            </div>
                            <div>
                                <label for="exampleFormControlTextarea1" class="form-label">Ürün Açıklamaları</label>
                                @Html.TextAreaFor(x => x.ProductFeatures, new { @class = "form-control", rows = 4 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <!-- HTML5 Inputs -->
                    <div class="card mb-4">
                        <div class="card-body">



                            <div class="mb-3 row">
                                <label for="html5-text-input" class="col-md-2 col-form-label">Kategori</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.SubCategoryID, (List<SelectListItem>)ViewBag.pv, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="html5-text-input" class="col-md-2 col-form-label">Fiyat</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" value="" id="stockInput" name="ProductPrice" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="html5-text-input" class="col-md-2 col-form-label">Marka</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" value="" id="stockInput" name="ProductBrand" />
                                </div>
                            </div>
                            <!-- Cinsiyet -->
                            <div class="mb-3 row align-items-center">
                                <!-- Cinsiyet Seçenekleri -->
                                <label for="html5-text-input" class="col-md-2 col-form-label">Cinsiyet</label>
                                <div class="col-md-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ProductGender" id="inlineRadio1" value="Erkek" />
                                        <label class="form-check-label align-middle" for="inlineRadio1">Erkek</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ProductGender" id="inlineRadio2" value="Kadın" />
                                        <label class="form-check-label align-middle" for="inlineRadio2">Kadın</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ProductGender" id="inlineRadio3" value="Unisex" />
                                        <label class="form-check-label align-middle" for="inlineRadio3">Unisex</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Ücretsiz Kargo Bilgisi ve Switch -->
                            <div class="mb-3 row align-items-center">
                                <label for="html5-text-input" class="col-md-2 col-form-label">Ücretsiz Kargo</label>
                                <div class="col-md-10">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="ProductFreeShippingInfo" checked />
                                        <label class="form-check-label ml-2" for="flexSwitchCheckChecked"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <!-- HTML5 Inputs -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">ÜRÜN VİTRİN GÖRSELİ</label>
                                <input class="form-control" type="file" id="formFileMultiple" name="MainProductImage" multiple />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <!-- HTML5 Inputs -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">ÜRÜN DETAY GÖRSELLERİ</label>
                                <input class="form-control" type="file" id="formFileMultiple" name="AdditionalImages" multiple />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Ürün Ekle</button>
            </div>
        </form>
    </div>
</div>



<script>
    var rangeInput = document.getElementById('formRange2');
    var selectedSizeDiv = document.getElementById('selectedSize');
    var form = document.getElementById('myForm');

    rangeInput.addEventListener('input', function () {
        var selectedValue = parseInt(rangeInput.value);

        var bedenler = ['XS', 'S', 'M', 'L', 'XL', 'XXL'];

        if (selectedValue >= 0 && selectedValue < bedenler.length) {
            var selectedSizeValue = bedenler[selectedValue];
            selectedSizeDiv.innerHTML = selectedSizeValue;

            // Send the selected size value to the server
            updateProductSize(selectedSizeValue);
        }
    });

    function updateProductSize(selectedSize) {
        fetch('/Product/UpdateProductSize', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productSize: selectedSize }),
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server if needed
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>


<style>
    .form-range {
        width: 100%;
    }
</style>