<div class="col-lg-3 col-md-3">
    <div class="shop__sidebar">
        <div class="sidebar__categories">
            <div class="section-title">
                <h4>Kategoriler</h4>
            </div>
            <div class="categories__accordion">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-heading active">
                            <a data-toggle="collapse" data-target="#collapseOne">Giyim</a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">Tişört</a></li>
                                    <li><a href="#">Gömlek</a></li>
                                    <li><a href="#">Pantolon</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            <a data-toggle="collapse" data-target="#collapseTwo">Ayakkabı</a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">Spor Ayakkabı</a></li>
                                    <li><a href="#">Bot</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            <a data-toggle="collapse" data-target="#collapseThree">Saat & Aksesuar</a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">Saat</a></li>
                                    <li><a href="#">Cüzdan</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            <a data-toggle="collapse" data-target="#collapseFour">Çanta</a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">Sırt Çantası</a></li>
                                    <li><a href="#">Spor Çantası</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar__filter">
            <div class="section-title">
                <h4>Fiyata Göre Filtrele</h4>
            </div>
            <div class="filter-range-wrap">
                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                     data-min="33" data-max="99"></div>
                <div class="range-slider">
                    <div class="price-input">
                        <p>Fiyat:</p>
                        <input type="text" id="minamount">
                        <input type="text" id="maxamount">
                    </div>
                </div>
            </div>
            <a href="#">Filtrele</a>
        </div>
        <div class="sidebar__sizes">
            <div class="section-title">
                <h4>Bedene Göre Filtrele</h4>
            </div>
            <div class="size__list">
                <label for="xs">
                    XS
                    <input type="checkbox" id="xs">
                    <span class="checkmark"></span>
                </label>
                <label for="s">
                    S
                    <input type="checkbox" id="s">
                    <span class="checkmark"></span>
                </label>
                <label for="m">
                    M
                    <input type="checkbox" id="m">
                    <span class="checkmark"></span>
                </label>
                <label for="l">
                    L
                    <input type="checkbox" id="l">
                    <span class="checkmark"></span>
                </label>
                <label for="xl">
                    XL
                    <input type="checkbox" id="xl">
                    <span class="checkmark"></span>
                </label>
                <label for="xxl">
                    XXL
                    <input type="checkbox" id="xxl">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="sidebar__color">
            <div class="section-title">
                <h4>Renge Göre Filtrele</h4>
            </div>
            <div class="size__list color__list">
                <label for="black">
                    Siyah
                    <input type="checkbox" id="black">
                    <span class="checkmark"></span>
                </label>
                <label for="whites">
                    Beyaz
                    <input type="checkbox" id="whites">
                    <span class="checkmark"></span>
                </label>
                <label for="reds">
                    Kırmızı
                    <input type="checkbox" id="reds">
                    <span class="checkmark"></span>
                </label>
                <label for="greys">
                    Gri
                    <input type="checkbox" id="greys">
                    <span class="checkmark"></span>
                </label>
                <label for="blues">
                    Mavi
                    <input type="checkbox" id="blues">
                    <span class="checkmark"></span>
                </label>
                <label for="greens">
                    Yeşil
                    <input type="checkbox" id="greens">
                    <span class="checkmark"></span>
                </label>
                <label for="yellows">
                    Sarı
                    <input type="checkbox" id="yellows">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</div>