

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                     data-setbg="/ashion-master/img/categories/category-1.jpg">
                    <div class="categories__text">
                        <h1>coreStore</h1>
                        <p>
                            Stilinizi keşfedin! En trend erkek ve kadın ürünleriyle dolu mağazamıza hoş geldiniz. Tarzınıza uygun seçenekler sizi bekliyor
                        </p>
                        <a href="#">Hemen İncele</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-2.jpg">
                            <div class="categories__text">
                                <h4>Erkek</h4>
                                <p>@ViewBag.v1 ürün</p>
                                <a href="#">Hemen İncele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-3.jpg">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                                <p>273 items</p>
                                <a href="#">Hemen İncele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-1.jpg">
                            <div class="categories__text">
                                <h4>Kadın</h4>
                                <p>@ViewBag.v2 ürün</p>
                                <a href="#">Hemen İncele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-5.jpg">
                            <div class="categories__text">
                                <h4>Aksesuar</h4>
                                <p>@ViewBag.v3 ürün</p>
                                <a href="#">Hemen İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->